<!DOCTYPE HTML>
<html lang="zh">

<head>
  <title>{{ site.name }}</title>
  
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <style>
    @import url("timesheet/timesheet-white.min.css");
  </style>
  <script src="timesheet/timesheet.min.js"></script>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                阮富钧
              </h1>
              <h4><a href="https://fujunruan.com/">English Version</a>  </h4>
              <p> 本人为 <a href="https://www.cmu.edu/">Carnegie Mellon University</a> 机械工程在读研究生（Master of Science in Mechanical Engineering）， 现担任<a href="https://www.cs.cmu.edu/~./choset/">Howie Choset</a>的<a href="http://biorobotics.ri.cmu.edu">Biorobotics Lab</a> 研究生科研助理，擅长领域为机器人、智能加工与产品设计和规划。
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/O6WSXk41"> 电子邮件</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/%E5%AF%8C%E9%92%A7-%E9%98%AE-3b66091b3/"> 领英账户 </a> &nbsp;/&nbsp;
                <a href="https://github.com/Flowerst-0416/"> Github </a> &nbsp;/&nbsp;
                <a href="/web_CN/pdfs/Fujun_Ruan _R.pdf"> 简历 </a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=0C7Zg4QAAAAJ&hl=en&oi=sra"> 谷歌学术 </a> &nbsp;/&nbsp;
                <script type="text/javascript" src="//rf.revolvermaps.com/0/0/9.js?i=5z9zrjamgb0&amp;t=%E8%B0%81%E7%9C%8B%E4%BA%86%E6%88%91" async="async"></script>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:70%;max-width:70%" alt="profile photo" src="images/head_circle_2.jpg">
            </td>
          </tr>
        </table>
        <p><h2 id="最新状态">最新状态</h2></p>
        <p >&nbsp;2023.04.02——带队赴美完成 FRC 2023 Smoky Mountain 赛区并获工业设计奖!</p>
        <p >&nbsp;2023.02.21——气溶胶喷射打印(AJAM)项目开始啦！！！</p>
        <p >&nbsp;2023.01.31——<a href="https://fujunruan.com/web_CN/pdfs/LEG_poposal.pdf">受鸵鸟肌腱启发的被动能量回收设计 </a>项目开始啦！！！</p>
        
        <div id="white" class="white">
          <div id="timesheet"></div>
        </div>


        <p style="text-align:center">
          <a href="/web_CN" title="主页">Home</a> &nbsp;/&nbsp;
          <a href="#科研经历">科研经历</a> &nbsp;/&nbsp;
          <a href="#项目经历">项目经历</a> &nbsp;/&nbsp;
          <a href="#工作经历">工作经历</a> 
        </p>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 id="科研经历">科研经历</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:7%;width:45%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              {% if post.keyword %}
                <br>
                  {{post.keyword}}
              {% endif %}
              <br>
              {{post.authors}}
              <br>
              <em>{{post.time}}</em>
              <br>
              {% if post.background %}
              <a href="{{post.background}}" target="_blank">背景链接</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}" target="_blank">海报</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}" target="_blank">视频</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}" target="_blank">arxiv</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" target="_blank">代码</a> /
              {% endif %}
              {% if post.news %}
              <a href="{{post.news}}" target="_blank">最新资讯</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}" target="_blank">PPT</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}" target="_blank">论文</a> /
              {% endif %}
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 id="项目经历">项目经历</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'project' %}
          <tr>
            <td style="padding:7%;width:45%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              {% if post.keyword %}
                <br>
                  {{post.keyword}}
              {% endif %}
              <br>
              {{post.authors}}
              <br>
              <em>{{post.time}}</em>
              <br>
              {% if post.background %}
              <a href="{{post.background}}" target="_blank">背景链接</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}" target="_blank">海报</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}" target="_blank">视频</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}" target="_blank">arxiv</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" target="_blank">代码</a> /
              {% endif %}
              {% if post.news %}
              <a href="{{post.news}}" target="_blank">最新资讯</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}" target="_blank">PPT</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}" target="_blank">论文</a> /
              {% endif %}
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 id="工作经历">工作经历</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Internships' %}
          <tr>
            <td style="padding:7%;width:45%;vertical-align:middle;min-width:120px">
              <!-- <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px"></td> -->
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.time}}</em>
              <br>
              <em>{{post.Duty}}</em>
              <br>
              {% if post.background %}
              <a href="{{post.background}}" target="_blank">背景链接</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}" target="_blank">海报</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}" target="_blank">视频</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}" target="_blank">arxiv</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" target="_blank">代码</a> /
              {% endif %}
              {% if post.news %}
              <a href="{{post.news}}" target="_blank">最新资讯</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}" target="_blank">PPT</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="http://leonidk.com">Leonid Keselman's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <script>
    new Timesheet('timesheet', 2017, 2025, [
  ['01/2017', '02/2017', '大疆，Robomaster', 'lorem'],
  ['05/2017', '05/2022', '宏思多媒体工作室', 'default'],
  ['09/2017', '04/2018', 'VT，RoboGrinder', 'dolor'],
  ['10/2017', '04/2018', '中国学联,外联', 'dolor'],
  ['01/2019', '04/2020', '四足机器人项目', 'ipsum'],
  ['06/2019', '08/2019', 'MAKEX机器人大赛初创', 'lorem'],
  ['08/2020', '05/2021', '太空机器人项目', 'ipsum'],
  ['08/2020', '05/2021', '自反应海洋能量转换器', 'ipsum'],
  ['08/2021', '05/2023', '波音增材加工项目', 'ipsum'],
  ['11/2021', '05/2023', '电弧增材制造(rWAAM)', 'ipsum'],
  ['01/2023', '05/2023', '气溶胶喷射打印(AJAM)', 'ipsum']
]);
    
  </script>
</body>



</html>

